<% if (site.tags.length){ %>
    <div class="widget-wrap">
      <h3 class="widget-title"><%= __('「公众号」一起长大技术团队') %></h3>
      <div class="widget">
        <img src="css/images/logo.jpg" style='height: 100%; width: 100%; object-fit: contain'>
      </div>
    </div>
  <% } %>
  